bloquelass="page-header">
  <h1>
    Tasks

    <a href="/tasks/new" class="btn btn-lg btn-success">New Task</a>

  </h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped table-hover">
      <tr>

        <th>Module</th>

        <th>Task Name</th>

        <th>Description</th>

        <th>Graded</th>



        <th>Actions</th>
      </tr>

      <% @tasks.each do |task| %>
      <tr>

        <td><%= task.bloque.name %> (Module #<%= task.bloque_id %>)</td>

        <td><%= task.name %></td>

        <td><%= task.description %></td>

        <td><%= task.graded %></td>


        <td>

          <a href="/tasks/<%= task.id %>" class="btn btn-primary">Show</a>
          <%if @user.name=="admin"  %>
          <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
<%else %>
<% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
