<div class="page-header">
  <h3>Bloque #<%= @bloque.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Name</dt>
      <dd><%= @bloque.name %></dd>


      <dt>Description</dt>
      <dd><%= @bloque.description %></dd>


      <dt>Predecessor</dt>
      <dd><%= @bloque.predecessor %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/bloques" class="btn btn-primary">
        Back
      </a>
      <a href="/bloques/<%= @bloque.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bloque/<%= @bloque.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
