<div class="page-header">
  <h3>Submission #<%= @submission.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Task</dt>
      <dd><%= @submission.task_id %></dd>


      <dt>User</dt>
      <dd><%= @submission.user_id %></dd>
      <dt>Submission Date</dt>
      <dd><%= @submission.created_at %></dd>

    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/submissions" class="btn btn-primary">
        Back
      </a>
      <a href="/submissions/<%= @submission.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_submission/<%= @submission.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
